/*FONT ROBOTO IMPORTADA*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
   background-color: #FAFAFA;
   font-family: Roboto, sans-serif;
}



/*CSS TELA QUIZZ-CRIATION*/
.quizz-criation{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quizz-criation header{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.quizz-criation header span{
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
}


    /*CSS SCREEN-BASIC-INFORMATIONS*/
.screen-basic-informations,
.screen-create-questions{
    width: 600px;
    height: 100%;
    margin-top: 69px;
    background-color: yellow;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.hidden{
    display: none;
}




.screen-basic-informations h2, .screen-create-questions h2{
    font-size: 23px;
    font-weight: 700;
    line-height: 26.95px;
    color: #000000;
    margin-top: 70px;

}

.screen-basic-informations .basic-informations{
    width: 600px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.screen-basic-informations .basic-informations input, .screen-create-questions .create-questions input{
    width: 564px;
    height: 46px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 15px;
}

.screen-basic-informations .basic-informations input::placeholder{
    color: #D1D1D1;
}

.screen-basic-informations button,
.screen-create-questions .button-next-levels
{
    width: 370px;
    height: 54px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    margin-top: 85px;
    background-color: #EC362D;
    color: #FFFFFF;
}

    /*CSS SCREEN-CREATE-QUESTION*/

.screen-create-questions .create-questions{
    width: 564px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.screen-create-questions .create-questions .first-question{
    background-color: palevioletred;
    
    
}

.screen-create-questions .create-questions .alternate{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    width: 583px;
}

.screen-create-questions .create-questions .first-question ion-icon{
    font-size: 23px;
}

.screen-create-questions .create-questions .first-question button{
    background-color: #EC362D;
}


.screen-create-questions .create-questions .first-question h3,
.screen-create-questions .create-questions .corret-answer h3,
.screen-create-questions .create-questions .incorret-answer h3
{
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    margin-bottom: 12px;
    color: #000000;

}

.screen-create-questions .create-questions .corret-answer{
    background-color: pink;
    margin-top: 20px;
    
}

.screen-create-questions .create-questions .incorret-answer{
    margin-top: 20px;
    background-color: red;

}




