/*FONT ROBOTO IMPORTADA*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
   background-color: #FAFAFA;
   font-family: "Roboto", sans-serif;
}



/*CSS TELA QUIZZ-CRIATION*/
.quizz-criation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
   
    width: 100%;
}

.quizz-criation .header-style{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quizz-criation header{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.quizz-criation header span{
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
}


    /*CSS SCREEN-BASIC-INFORMATIONS*/


.screen-basic-informations,
.screen-create-questions,
.screen-create-levels,
.screen-success-create
{
    width: 600px;
    height: 100%;
    margin-top: 69px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.screen-basic-informations h2,
.screen-create-questions h2,
.screen-create-levels h2,
.screen-success-create h2
 {
    font-size: 23px;
    font-weight: 700;
    line-height: 26.95px;
    color: #000000;
    margin-top: 70px;

}

.screen-basic-informations .basic-informations,
.screen-create-levels .create-levels
{
    width: 600px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}



.screen-basic-informations .basic-informations input,
 .screen-create-questions .create-questions input,
 .screen-create-levels .create-levels input
 {
    width: 564px;
    height: 46px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 15px;
}

.screen-basic-informations .basic-informations input::placeholder,
.screen-create-questions .create-questions input::placeholder,
.screen-create-levels .create-levels input::placeholder
{
    color: #D1D1D1;
}

.screen-basic-informations button,
.screen-create-questions .button-next-levels,
.screen-create-levels .finish-quizz
{
    width: 370px;
    height: 54px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    margin-top: 85px;
    background-color: #EC362D;
    color: #FFFFFF;
}



    /*CSS SCREEN-CREATE-QUESTION*/

.screen-create-questions .create-questions{
    width: 600px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    padding-top: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.screen-create-questions .create-questions .alternate{
    display: flex;
    justify-content: space-between;
    width: 583px;
}

.screen-create-questions .create-questions .first-question ion-icon,
.header-levels ion-icon
{
    font-size: 23px;
}

.screen-create-questions .create-questions .first-question button,
.header-levels button
{
    background-color: #EC362D;
}


.screen-create-questions .create-questions .first-question h3,
.screen-create-questions .create-questions .corret-answer h3,
.screen-create-questions .create-questions .incorret-answer h3,
.screen-create-levels .create-levels h3
{
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    margin-bottom: 12px;
    color: #000000;

}

.screen-create-questions .create-questions .corret-answer{

    margin-top: 20px;
    
}

.screen-create-questions .create-questions .incorret-answer{
    
    margin-top: 20px;

}


.screen-success-create img{
    width: 500px;
    height: 266px;
    object-fit: fill;
    border-radius: 5px;
    margin-top: 25px;
 
}

.screen-success-create figcaption{
    font-size: 23px;
    font-weight: 400;
    line-height: 26.95px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    top: -40px;
    left: 25px;
   
}

.screen-success-create .quizz_acess{
    width: 221px;
    height: 54px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    margin-top: 85px;
    background-color: #EC362D;
    color: #FFFFFF;
}

.screen-success-create .back_home{
    width: 221px;
    height: 54px;
    font-weight: 400;
    line-height: 24.61px;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    color: #818181;
    background-color: #FAFAFA;
}



/*TELA QUIZZ LEVEL*/
.header-levels{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  
    width: 600px;
}






/* Tela 2 - EXIBIÇÃO DE UM QUIZZ*/

.showpage-second-header {
    align-items: center;
    display: flex;
    font-weight: 400;
    height: 227px;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
    width: 100vw;
}

.showpage-second-header img {
    width: 100vw;
    height: 100%;
    filter: brightness(60%) ;
    object-fit:cover;
}

.showpage-second-header h3 {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 36px;
}

.question {
    background-color: #EC362D;
    width: 689px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5%;
    text-align: center;
}

.question-container,.final-container {
    width: 759px;
    padding-top: 28px;
    padding-bottom: 35px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
    margin-bottom: 40px;
}


.answer-container {
    width: 759px;
    
    display: grid;
    grid-template-columns: repeat(2, 330px);

    column-gap: 24.25px;
    row-gap: 8px;

    justify-content: center;
    align-items: center;

    
}

.result-container{
    width: 759px;

    display: grid;
    grid-template-columns: repeat(2, 346px);

    column-gap: 21px;

    justify-content: center;
    align-items: center;
}

.quizz-result img {
    width: 364px;
    height: 273px;
}

.quizz-result  {
    display: flex;
    flex-direction: row;
}

.result-text {
    width: 328px;
    margin-left: 2vw;
    color: #484848;
    font-weight: 600;
    font-size: 25px;
    text-align:left;
    overflow-wrap: break-word;
}

.quizz-answer {
    width: 46%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quizz-answer img {
    width: 330px;
    height: 175px;
    object-fit: fill;

}

.quizz-answer figcaption {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    width: 330px;
    font-size: 18px;
    word-break: break-all;

}
.quizz-showpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.afterClickingStyle {
    opacity: 50%;
}

.trueAnswer {
    color: green
}

.falseAnswer {
    color: red;
}

/* Tela 1 - PÁGINA INICIAL*/

.header1 {
    margin: auto 0;
}

.content-open-window {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.container-user-quizz {
    margin-top: 146px;
  }
  
.create-quizz {
    width: 1051px;
    height: 181px;

    border: 1px dashed #d5d5d5;
    border-radius: 5px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.no-quizz-info {
    width: 250px;
    height: 107px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    color: #b9b9b9;
  
    display: flex;
    align-items: center;
    text-align: center;
  }
  
.create-quizz-button-1 {
    width: 151px;
    height: 40px;
  
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #ec362d;
    background-color: #FAFAFA;
    border: 1px dashed #ec362d;
    border-radius: 50px;
  
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

    cursor: pointer;
  }
  
.created-quizz {
    width: 1051px;
    height: 181px;
  }
  
.title-page1 {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  
    color: #000000;
  
    gap: 17px;
  }

.create-quizz-button-2 {
    font-size: 30px;
    color: #ec362d;

    cursor: pointer;
  }


.quizzes {
    margin-top: 12px;

    display: grid;
    grid-template-columns: repeat(3, 340px);

    column-gap: 15px;
    row-gap: 12px; 
}

.quizz {
    position: relative;
    display: inline-block;

    width: 340px;
    height: 181px;
  
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%
    );

    border-radius: 5px;

    cursor: pointer;
  }
  
.quizz figcaption {
    position: relative;

    width: 88%;
    height: 54px;
  
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    overflow-wrap: break-word;
  
    color: #FFFFFF;

    bottom: 70px;
    left: 18px;
  }

.quizz img{
    width: 340px;
    height: 181px;

    position: relative;
    z-index: -1;

    border-radius: 5px;
}
  
.api-quizzes {
    width: 1051px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 77px;
    margin-bottom: 211px;
  }

.hidden{
    display: none;
}

.question-container-outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Reiniciar-Button {
    background-color: #EC362D;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px ;
    border: none;
    height: 50px;
    width: 30vw;
    align-self: center;
    margin-bottom: 25px;
}

.home-link {
  font-size: 20px; 
  margin-bottom: 20px; 
  color:#8d8989;
  font-size: 20px;
  font-weight: 500;
}

 
@media (max-width: 1100px) {
.content-open-window{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-user-quizz {
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .api-quizzes {
    margin-top: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .created-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.header1, .container-user-quizz, .create-quizz, .created-quizz, .api-quizzes {
    width: 100%;
  }

  .quizzes {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(1, 340px);
    row-gap: 14px; 
  }

  .title-page1 {
    justify-content: space-between;
  }



.quizz-criation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    width: 100%;
    overflow: hidden;
}

.screen-basic-informations,
.screen-create-questions,
.screen-create-levels,
.screen-success-create
{
    
    width: 100vw;
    height: 100%;
    margin-top: 69px;


}

.screen-basic-informations .basic-informations,
.screen-create-questions .questiquestions_place

{
    width: 100vw;
}



}